<Files .htaccess>
    Order deny,allow
    Deny from all
    Allow from none
</Files>

AddDefaultCharset UTF-8
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php/$1 [QSA,L]
</IfModule>

## Set Root Directory
SetEnv ROOT_PATH "c:/xampp/htdocs/www/clubcoding/v7.1/"

## Set Static Error File
SetEnv ERROR_PATH "__vp/includes/error.php"
