<Files .htaccess>
    Order deny,allow
    Deny from all
    Allow from none
</Files>

AddDefaultCharset UTF-8
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php/$1 [QSA,L]
</IfModule>

## Set Root Path
SetEnv ROOT_PATH "c:/xampp/htdocs/www/Varphp/v2.5.2/"

## Set Static Error File Path
SetEnv ERROR_PATH "__VP/includes/error.php"

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.clubcoding.com$ [NC]
RewriteRule ^(.*)$ http://clubcoding.com/$1 [R=301,L]